:root {
  --outline-size: 1.3vw;
  --lines-color: #e6e6e620;
}

body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#board {
  width: 90vw;
  max-width: min(90vh, 600px);
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* For the lines */
  position: relative;
}

@keyframes right {

  0%,
  100% {
    transform: translate(-20px);
  }

  50% {
    transform: translate(20px);
  }
}

@keyframes left {

  0%,
  100% {
    transform: translate(20px);
  }

  50% {
    transform: translate(-20px);
  }
}

button {
  position: relative;
  background: transparent;
  border: 0px;
  width: 100%;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  z-index: 10;
}

button:before {
  position: absolute;
  top: max(8%, 8px);
  left: max(8%, 8px);
  bottom: max(8%, 8px);
  right: max(8%, 8px);
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: opacity 1s ease-out;
}

button[movable="true"]:before {
  outline: var(--outline-size) solid yellow;
}

button[selected="true"]:before {
  outline: var(--outline-size) solid green;
}

button[is-movable-destination="true"]:before {
  background-color: green;
  border-radius: 50%;
  opacity: 0.4;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

button[player="0"]:before {
  background-image: url(./assets/white.svg);
  animation: scale-in 0.2s ease-in-out;
  border-radius: 50%;
}

button[player="1"]:before {
  background-image: url(./assets/black.svg);
  border-radius: 50%;
  animation: scale-in 0.2s ease-in-out;
}


button:not([disabled]) {
  cursor: pointer;
}

@keyframes tap-to-play {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}


#board table {
  position: absolute;
  top: 9.5%;
  left: 9.5%;
  width: 81%;
  height: 81%;
  z-index: 0;
  border-collapse: collapse;
}

#board table td {
  border: 1.3vw solid var(--lines-color);
}

/* Diagonal lines */
.diagonal-line {
  position: absolute;
  border: none;
  z-index: 0;
}

/* Top-left to bottom-right diagonal */
.diagonal-line.tl-br {
  border-top: 1.3vw solid var(--lines-color);
  transform: rotate(45deg);
  transform-origin: top left;
  top: 10%;
  left: 10.5%;
  width: 113%;
  height: 1%;
  z-index: 0;
}

/* Bottom-left to top-right diagonal */
.diagonal-line.bl-tr {
  border-top: 1.3vw solid var(--lines-color);
  transform: rotate(-45deg);
  transform-origin: top right;
  top: 10%;
  left: -24%;
  width: 113%;
  height: 1%;
  z-index: 0;
}

/* Rhombus shape */
.rhombus {
  position: absolute;
  border: 1.3vw solid var(--lines-color);
  transform: rotate(45deg);
  transform-origin: center;
  top: 21%;
  left: 21%;
  width: 56%;
  height: 56%;
  z-index: 0;
}



/* #board.initial button:nth-child(5)::before {
  opacity: 1;
  content: "tap to play";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  text-align: center;
  font-size: 8vw;
  font-weight: 700;
  line-height: 11vw;
  letter-spacing: 0vw;

  background: linear-gradient(90deg, #cb89fc 0.24%, #fea9ab 96.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: tap-to-play 1.5s ease-in-out infinite;
} */

@media (hover: hover) {
  button:not([disabled]):after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -10%;
    width: 20%;
    /* border-radius: 50%; */
    background: #e6e6e6;
    aspect-ratio: 1;
    transition: all 0.15s ease-in-out;
    scale: 0;
  }

  button:hover:after {
    scale: 1;
  }
}

ul {
  list-style: none;
  font-size: min(14px, 3vw);
  padding: 0;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

li {
  opacity: 0.5;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

li img {
  width: 20vw;
  height: 20vw;
  margin-top: 6.4vw;
  margin-bottom: 2.1vw;
}

li[your-turn="true"] {
  opacity: 1;
}

li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13vw;
  height: 13vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

li[player="0"]:before {
  background-image: url(./assets/white.svg);
}

li[player="1"]:before {
  background-image: url(./assets/black.svg);
}